/* Universal Stuff */
:root{
    --Putih:                   #FCFBF9;
    --Abu-Bright:              #EAEAEA;
    --Red:                     #FF0000;
    --Sky-Blue:                #C9E7F2;
    --Biru-Abu-Muda:           #DFE3EE;
    --Biru-Abu:                #91ACCB;
    --Biru-Link:               #4B72C2;
    --Biru-Tua:                #3B5998;
    --Navhover:                #2F4678;
    --hoverDark:               #273960;
    --Black:                   #000000;
    --Ijo-Tua:                 #96BCB4;
    --Ijo-Muda:                #BBDCD3;
    --Tosca-Muda:              #B2CED6;
    --Tosca-Tua:               #9DBBC9;
    --Biru-Ocean:              #8DC9E1;
    --Biru-Muda:               #ACDBED;
    --Abu:                     #7F7F7F;
    --Abu-Muda:                #C5C5C5;
    --hover:                   #76A3FF;

    /* Font Family here */

    --body-font-family:        'Poppins', sans-serif;
    --lato-family:             'Lato', sans-serif;
    --inter-family:            'Inter', sans-serif;

    /* Font Weights here */

    --font-weight-thin:        100;
    --font-weight-extralight:  200;
    --font-weight-light:       300;
    --font-weight-normal:      400;
    --font-weight-medium:      500;
    --font-weight-semibold:    600;
    --font-weight-bold:        700;
    --font-weight-extrabold:   800;
    --font-weight-black:       900;
}

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body{
    font-family: var(--body-font-family);
    width: 100%;
    height: 100%;
}

.generic-button{
    display: inline-flex;
    background-color: var(--Biru-Link);
    padding: 1.25rem 2.5rem;
    border-radius: 3.125rem;

    color: var(--Putih);
    text-align: center;
    font-family: var(--inter-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-normal);
}

.generic-button:hover{
    background-color: var(--Navhover);
}