body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    background: url('../../common/assets/Background\ Image.png') no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 7.69rem;
}

.header h1 {
    margin: 32px;
    margin-top: 0;
    color: #000;
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 36px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 57px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.text {
    color: #000;
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 24px;
    font-weight: var(--font-weight-medium);
}

.generic-button{
    border: none;
    font-size: 20px;
    cursor: pointer;;
}