body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background: url('../../common/assets/Background\ Image.png') no-repeat;
    background-size: cover;
    position: relative;
}

.header h1 {
    margin: 32px;
    margin-top: 0;
    color: #000;
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 36px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 57px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.text {
    color: #000;
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 24px;
    font-weight: var(--font-weight-medium);
}

.btn button{
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    color: var(--Putih, #FCFBF9);
    background: var(--Biru-Link);
}