.schedule-container {
    margin: 30px;
    padding: 10px;
    height: auto;

    background-color: var(--Sky-Blue);
    border-radius: 20px;
}

.schedule-date1 {
    width: 55%;
    height: 370px;
    
    display: flex;
    margin: 1rem 0 2.5rem;
    position: relative;
}

.schedule-date1:not(:first-child)::before{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: -1.25rem;
    left: 0;
    background: #000;
}

.schedule-date1-left {
    flex: 2 0 0;
    padding: 10px;
    text-align: center;
}


.schedule-date1-left h1{
    font-size: 1.375rem;
    font-weight: var(--font-weight-normal);
}

.schedule-date1-left p{
    font-size: 3.125rem;
    font-weight: var(--font-weight-bold);
}

.schedule-date1-right1 li{
    list-style: disc inside;
}

.schedule-date1-right1 {
    flex: 6 0 0;
    height: 370px;
    padding: 20px;
    
    border-left: 1px solid black;
}

.schedule-date1-right1 *{
    font-size: 0.9375rem;
    font-weight: var(--font-weight-normal);
    line-height: 1.125rem;
}

.schedule-date1-right1 h3{
    font-weight: var(--font-weight-bold);
}


.patient-details:first-child{
    margin-bottom: 1.94rem;
}

.patient-details > :not(:last-child){
    margin-bottom: 0.8125rem;
}

.img {
    border-radius: 0.625rem;
    position: absolute;
    top: 200px;
    right: 100px;
}